.selection {
	position: absolute;
	z-index: 90;
	
	.top, .bottom {
		background: url(../img/border_horizontal.gif) repeat-x;
		position: absolute;
		height: 1px;
		left: 0;
		right: 0;
	}
	.left, .right {
		background: url(../img/border_vertical.gif) repeat-y;
		position: absolute;
		width: 1px;
		top: 0;
		bottom: 0;
	}
	.top {
		top: -1px;
	}
	.right {
		right: -1px;
	}
	.bottom {
		bottom: -1px;
	}
	.left {
		left: -1px;
	}
}