.tableElements {
	.toolTableElement {
		position: absolute;
		border-collapse: collapse;
		
		td {
			border-style: double;
			border-width: 5px;
			border-color: inherit;
		}
	}
	
	.controldot {
		border: 1px solid #cece00;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
		background-color: yellow;
		border-radius: 5px;
		width: 6px;
		height: 6px;
		display: inline-block;
		position: absolute;
	}
}

.toolTableIcon {
	border-collapse: collapse;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin: 5px;
	
	td {
		border: 1px solid;
	}
}